---

import Counter from '../components/Counter';
import '../../styles/global.css';
import Navbar from '../components/Navbar';
import Footer from '../components/Footer';
import Products from '../components/products/Products';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Product Management</title>
	</head>
	<body>
		<Navbar />
		<Products client:load />
		<Footer />
	</body>
</html>
